.catalog-menu ul, .catalog-menu li {
    margin: 0;
    padding: 0;
}

.catalog-menu li {
    list-style: none;
    padding-left: 0px;
}

.catalog-menu li ul {
    display: none;
}

.catalog-menu li a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #909090;
}

.product .image {
    height: 240px;
    max-width: 200px;
    overflow: hidden;
}

.product .description {
    height: 20px;
    overflow: hidden;
}
/*
.catalog-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
    background: #ffffff;
    z-index: 1;
    border-right: 1px solid #909090;
}
*/

