.carousel-control {
    display: none;
}

h1, h2, h3, h4 {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 140%;
}

#navbar-main {
    border: none;
    background: none;
}

/* Mobile Menu */
#mobile_menu {
    background: #eeeeee;
}
#mobile_menu header {
    padding: 10px;
    background: #909090;
}
#mobile_menu ul,#mobile_menu li {
    margin: 0;
    padding: 3px 10px;
    border-bottom: 1px solid #ccc;
}
#panel {
    padding: 10px;
}

/* Slideout */

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position:relative;
    z-index: 1;
    background: #ffffff;
}

.slideout-open,
.slideout-open body {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}