body, html
{
	margin:0px;
	padding:0px;
	height:100%;
}
body
{	
	font-family:verdana;
	font-size:12px;
	height:100%;
}
#counter {
	position:absolute;
	top:10px;
	left:100px;
}
#body
{
	height:100%;
}
*{outline:none;}

.table{width:100%;clear:both;}
.table,.table td,.table th
{
	border:1px solid #EEE;
	border-collapse:collapse;
}
.table td,.table th
{
	text-align:left;
	padding:5px;
}

.dДа
{
}
.dНет
{
	color:#000;
	opacity:0.3;
	filter:alpha(opacity=30);
}
.right
{
	display:block;
	float:right;
}
.inline {width:300px;margin:0;padding:0;}
.inline li {float:right;margin:0 5px;padding:0; list-style:none;}
.ajaxLoad
{
	
}
.btn{
	width:150px;
	display:block;
	float:left;
	margin:5px;
	padding:5px;
	text-align:center;
}
.block {
display:block;
}
.dotted-b
{
	border-bottom:1px dotted #ccc;
}

.alert
{
	padding:10px;
	background:url(alert.png) no-repeat left center #CCC;
	border:1px dashed #333;
	margin:3px 0;
	padding-left:40px;
}

#slide-pages
{
	display:none;
}
h1,h2,h3,h4
{
	margin:0;
	padding:0;
	font-size:18px;
	color:#333;
	margin-top:20px;
}
.topplink
{
	color:#000000;text-decoration:none;
}

.menuItem a:hover
{
	text-decoration:none;
	color:#999;
}
.menuItem
{
	width:170px;
	text-align:center;
	display:inline-block;
	margin:10px;
}
.add
{
	font-weight:bold;
}
#navbar
{
	padding:5px;
	border:1px dashed #CCC;
	margin-top:5px;
}
#main_menu li, #main_menu
{
	list-style:none;
	padding:0;
	margin:0 5px ;
}

a
{
	text-decoration:none;
	color:#FF6600;
}
a:hover
{	
	text-decoration:underline;
}

td
{
	vertical-align:top;
}
.highliteInput
{
	border:1px solid #333;
	background:#FFF;
}
.normalInput, #authTable input
{
	background:url(thead.gif) #EEEEEE repeat-x bottom ;
	border:1px solid #CCC;
}
input, .autogenform textarea , select
{
	width:98%;
}

.autogenform 
{
	clear:both;
	margin:5px 0;
}

.autogenform textarea
{
	height:300px;
}

#menu td{padding:2px;}
#menu tr:hover
{
	background:#CCC;
}
#menu li
{
	list-style-image:url(li.png);
}
ul li, ul
{
	padding:0 1px;
	margin:0 10px;
}
a.deletePage
{
	
}
a.del
{
	text-decoration:none;
}
table.datagrid, table.datagrid td , table.datagrid tr ,table.datagrid thead{
	border:none;
	clear:right;
}
table.datagrid
{
	border:1px solid #CCC;
	margin-top:10px;
	
}
    
table.datagrid td {
  padding: 4px; 
  margin:0px;
}
    
table.datagrid thead tr {
  
	text-align:center;
	padding:7px;
	font:bold 10px Verdana;
	height:20px;
	background:#EEE;
	background:url(thead.gif) repeat-x bottom ;

}
table td
{
	vertical-align:top;
}

table.dataGrid tr, table.autogenform tr, {
  background: #eeeee5; 
}
.odd {
  background: #ddddd5; 
}

#show
{
display:none;
}
#authTable
{
	height:100%;
}
#authTable td
{
	vertical-align:middle;
}
#authForm
{
	margin-top:-25px;
}
#authForm td
{
	text-align:top;
}
.success{}
.error{ background:#f0c6c3; border:1px solid #cc6622;display:block;padding:2px; }
.btn_upload .value
{
	width:160px;
	overflow:hidden;
}
.btn_upload
{
	width:490px;
	height:12px;
	overflow:hidden;
	font-size:10px;
	padding:5px;
	p-osition:relative;
	z--index:10;
}
.moz_upload_field{background:url(upload.jpg) right top no-repeat #FF0000;}
.ajaxloadprogress
{
	font-size:9px;
	text-align:center;
	background:url(loader.gif) no-repeat top center;
	height:18px;
	padding:3px;
}

#home_link{background:url(home.png) top left no-repeat;height:16px;width:16px;display:inline-block; margin-bottom:-3px;}
#exit_link{background:url(exit.png) top left no-repeat;height:16px;width:16px;display:inline-block; margin-bottom:-3px;}
#top_admin_panel{background:url(menu-bg.jpg)repeat-x;}